@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fa fa-plus-square"></i> Create New
    </a>
</p>
<table class="table table-hover">
    <thead class="bg-success">
        <tr>
            <th>
                Leave Types
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id"><i class="fa fa-pen"></i> Allocato to Employee</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>

    </script>
}