@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-12">   
    <p>
        <div class="card" >
            <img src="~/img/Leave.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text font-weight-bold">Leave Management System with ASP.NET CORE 5.0</p>
            </div>
        </div>
    </p>
</div>
